<%= render 'layouts/header' %>

<h1> Screenings </h1>

<div class = "pure-g">
<div class = "pure-u-1 projects_container">

<% sorted_projects = Project.order('dates DESC') %>

	<% sorted_projects.all.each do |p| %>

		<div class = "pure-u-1 screening">
			<div class = "screening_image">
			<%= image_tag p.image_url(:thumb).to_s %>
			</div>
			<div class = "screening_text">
				<h4><%= link_to p.title, ("/screenings/#{p.id}" )%></h4>
				<p> <%= p.dates %> </p>
			</div>

			<div class= "genre" > 
				<%= p.genre %> 
			</div>
		</div>
	<% end %>

</div>
</div>