<%= render "layouts/header" %>

<div class = "pure-g">

	<div class = "pure-u-1 container">
		<div class = "pure-u-1 top_half">
			<h1 class = "screening_title"> <%= @project.title %> </h1>

			<p class= "genre"> <%= @project.genre %></p>

			<div class = "video_image" >
				<%= @project.video_html %>
			</div>

			<div class="project_description">
				<p><b>DESCRIPTION:</b> <%= @project.description %> </p>
				<p><b>Dates:</b> <%= @project.dates %></p>
				<p><b>Location:</b> <%= @project.location %></p>
				<p><b>Producer:</b> <%= @producer.name %></p>
			</div>
		</div>
	</div>
</div>


			<div class = "pure-g">

				<div class = "container">
					<div class = "pure-u-1-2" id="cast">
						<h2> Cast </h2>

						<% @project.roles.each do |r| %>

							<p>

							<% if r.cast == true %>
							<%= r.title %> 

							<% if r.user_id == nil %>
								<i>uncast</i>
							<% else %>
							<% @user = User.find(r.user_id) %> <%= @user.fname %>
							<% end %>

							<% end %>

					<% end %> </p>
				</div>

					<div class = "pure-u-1-2" id="crew">
			<h2> Crew </h2>
			<% @project.roles.each do |r| %>

			<p>
			<% if r.cast == false %>
			<%= r.title %> 

			<% if r.user_id == nil %>
			<i>needed</i>
			<% else %>
			<% @user = User.find(r.user_id) %> <%= @user.fname %>
			<% end %>

			<% end %>

			<% end %> </p>

			</div>
		</div>
	</div>
</div>


<%= render "layouts/footer" %>
