= simple_form_for @project do |f|
	#auditions
	= f.simple_fields_for :auditions do |audition|
		= render 'audition_fields', :f => audition             
		.links 												   
	%div#add= link_to_add_association 'add audition', f, :auditions   
	%p= f.submit
