= simple_form_for @project do |f|
	%h3 Auditions
	#auditions
	= f.simple_fields_for :auditions do |audition|
		= render 'audition_fields', :f => audition
		.links
			= link_to_add_association 'add audition', f, :auditions
	= f.submit
