<link rel="stylesheet" type="text/css" href="/jquery/jquery.datetimepicker.css" />
<script src="/jquery/jquery.datetimepicker.js"></script>
<script>
$(document).ready(function(){
	$('#datetimepicker').datetimepicker();
});
</script>

<%= render "layouts/header" %>

<div class = "pure-g">

	<div class = "pure-u-1 container">

		<h1>Add audition slots</h1>

		<%= form_for(@audition) do |f| %>

			<p>Datetime: <input id="datetimepicker" name="audition[when]" type="text"> </p>

			<%= f.hidden_field :project_id, value: params[:project]  %>
			<%= f.submit "Add audition", class: "pure-button" %>
		
		<% end %>

		<%= params[:project] %>

	</div>
	
</div>

<%= render "layouts/footer" %>
