<%= render 'layouts/header' %>

<div class = "pure-g">
	<div class = "pure-u-1 container">
		
		<h1>Auditions</h1>

			<% Audition.where({project_id: params[:id], role_id: nil}).each do |a| %>

					<% if signedin? && current_user == @producer_id && a.user_id != nil %>
						<p>	<%= a.when.strftime("%A, %B %d, %Y at %l%p") %>  |  <%= link_to a.user_name, user_path(a.user_id) %> </p>
					<% end %>


					<% if a.user_id == nil %>
							<p>
								<%= a.when.strftime("%A, %B %d, %Y at %l%p") %>
								
								<%= form_for(a) do |t| %>
									<%= t.hidden_field :id, value: a.id %>
									<%= t.hidden_field :user_id, value: @user.id %>
									<%= t.hidden_field :user_name, value: @user.name %>
								<%= t.submit "Sign up", class: "pure-button" %>
								<% end %>
							</p>
					<% end %>

			<% end %>

			<%= link_to "Back to #{Project.find(params[:id]).title}", project_path(params[:id]) %> | 
			<%= link_to_function("Print this Page", "javascript:print()") %>

	</div>
</div>

<%= render "layouts/footer" %>
