<%= render 'layouts/header' %>



<div class="pure-g">
  <div class="pure-u-1 container">
    
<h1>Sign up</h1>
   <div class = "pure-form">

      <%= form_for(@me) do |f| %>
        

          <%= f.label :Full_Name %>
          <p><%= f.text_field :name %></p>

          <%= f.label :Nick_Name %>
          <p><%= f.text_field :fname %></p>

          <%= f.label :Yale_email %>
          <p><%= f.text_field :email %></p>

          <%= f.label :college %>
          <p><%= f.text_field :college %></p>

          <%= f.label :year %>
          <p><%= f.text_field :year %></p>

          <%= fields_for(@interest) do |ff| %>
            <%= ff.hidden_field :acting, value: 0 %>
          <% end %>

          <%= f.submit "Save Changes", class: "pure-button" %>
        
        <% end %>

  </div>


  </div>
</div>