<%= render 'layouts/header' %>



<div class="pure-g">
  <div class="pure-u-1 container">
    
<h1>Sign up</h1>
   <div class = "pure-form">

      <%= form_for(@me) do |f| %>
         

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

          <%= fields_for(@interest) do |ff| %>
            <%= ff.hidden_field :acting, value: '0' %>
            <%= ff.hidden_field :directing, value: '0' %>
            <%= ff.hidden_field :editing, value: '0' %>
            <%= ff.hidden_field :camerawork, value: '0' %>
            <%= ff.hidden_field :costumes, value: '0' %>
            <%= ff.hidden_field :cinematography, value: '0' %>
            <%= ff.hidden_field :sound, value: '0' %>
          <% end %>

          <%= f.submit "Save Changes", class: "pure-button" %>
        
        <% end %>

  </div>


  </div>
</div>

<%= render "layouts/footer" %>
