<%= render "layouts/header" %>


<div class = "pure-g">

<div class = "pure-u-1 profile_container">
		<% if @me.id == @current_user %>
			<h1>Hello, <%= @me.fname%> </h1>
		<% else %>
			<%= @me.fname + "'s profile" %>
		<% end %>
		

		<%= image_tag @me.image_url(:thumb).to_s %>
		<p>
		<%= @me.college %> <br>
		<%= @me.year %> <br>
		<%= mail_to @me.email, "Email me!" %>
		</p>

	<% if @me.id == current_user %>

			<h2> <%= link_to "Edit your information, friend!", edit_user_path(@me) %></h2>
			<%= link_to "Create a Project", new_project_path, class: "pure-button" %>

				<% if @me.id == current_user %>

			<h3>Activity on Your Projects</h3>

				<% myprojects = @me.projects %>

				<% myprojects.each do |p| %>
						<% auditions = p.auditions %>
					<% auditions.each do |a| %>

						<% if a.role_id == nil && a.user_id != nil %>
							<p>	<%= link_to a.user_name, user_path(a.user_id) %> 
								<%= " has an audition on #{ a.when.strftime("%B %d at %l%p") } 
								for " %>
								<%= link_to p.title, "/projects/#{p.id}/auditions" %>
							</p>
						<% elsif a.role_id != nil %>
							<% crew_position = Role.find(a.role_id).title %>
							<% crew_user = User.find(a.user_id).name %>
							<p>	<%= link_to crew_user, user_path(a.user_id) %>
								<%= " wants to be your #{crew_position} for " %>
								<%= p.title %>
							</p>					
						<% end %>

					<% end %>
				<% end %>
	<% end %>
	<% end %>


	
		<%= @me.bio %> <br>
		
		<h3>Interests</h3>
		
		<% @interest.attributes.each_pair do |name, value| %>
			<% if value == "1" %>
				<div class="interest_block">
					<p><%= name %></p>
				</div>
			
			<% end %>
		<% end %>
		
			<h3>Filmography</h3>

			<% @me.projects.distinct.each do |project| %>
				<% my_roles = project.roles.where(user_id: @me.id) %>

				<p><%= link_to project.title, project_path(project.id)%> | 

					<% array = [] %>
					<% my_roles.each do |r| %>
						<% if r.title == nil %>
							<% array.push("Producer")%>
						<% else %>
							<% array.push(r.title) %>
						<% end %> 
					<% end %>

					<%= array.join(", ") %>
				</p>

			<% end %>
</div>
</div>

		


		

		


	
