

<div class = "pure-g">

	<div class = "pure-u-1 container">
		<h1> Create a New Project </h1>

		<div class = "pure-form">
	
			<%= form_for(@project) do |f| %>
				<%= f.hidden_field :id, value: @me.id %>

				<%= f.text_field :title, :placeholder => "Project title", :class => "pure-input" %>

				<%= f.label "Genre: "%>
				<%= f.select :genre, options_for_select([ ["Comedy", "Comedy"], ["Documentary", "Documentary"], ["Drama", "Drama"], ["Silent", "Silent"], ["Adult", "Adult"], ["Sci-Fi", "Sci-Fi"], ["Animation", "Animation"], ["Alternative, Alternative"], ["Other", "Other"] ], :class => "fields") %>

				<p> <%= f.text_area :description, :placeholder => "Describe the project", :class => "pure-input" %> </p>

				<p> <%= f.text_field :dates, :placeholder => "Dates", :class => "pure-input" %> </p>

				<p> <%= f.text_field :location, :placeholder => "Location", :class => "pure-input" %> </p>

				<p> <%= f.label "Upload image" %> <br>
				 	<%= f.file_field :image %> </p>

				<p> <%= f.label :remote_image_url, "or image url" %> <br>
				 	<%= f.text_field :remote_image_url %> </p>

				<p> <%= f.label "Link to video" %> <br>
				 	<%= f.text_field :video %> </p>

				<p> Coming Soon: Upload your script! </p>

			<%= f.submit "Create Project", class: "pure-button" %>
			<% end %>


		</div>

	</div>
</div>


