<%= render "layouts/header" %>


<div class = "pure-g">
	<div class = "pure-u-1 container user_list">
		<% @movie.each do |f| %>

			<p><%= link_to f.title, project_path(f.id) %></p>

		<% end %>


		<% @person.each do |f| %>

			<p><%= link_to f.name, user_path(f.id) %></p>

		<% end %>

		<% @interest.each do |f| %>

			<p><%= link_to f.name, user_path(f.id) %></p>

		<% end %>
	</div>
</div>

<%= render "layouts/footer" %>
