<div class = "pure-g"> 
	
	<div class = "pure-u-1 pure-menu pure-menu-open pure-menu-horizontal" id="menu">
		<ul id="std-menu-items">
			<li><a href="/">YFA </a> </li>
			<li> <%= link_to "Screenings", screenings_path %> </li>
			
			<% if !user_signed_in? %>
			<li> <%= link_to "Log In", new_user_path %> </li>
			
			<% else %>
			<li> <%= link_to "Projects", projects_path %></li>
			<li> <%= link_to "Filmmakers", users_path %> </li>
			<li> <%= link_to "Profile", user_path(@me.id) %></li>
			<% end %>
			
			<li> 
				  <%= form_tag("/search", method: "get") do %>
				  <%= text_field_tag(:search) %>
				  <%= submit_tag("Search", class: "pure-button") %>
				  <% end %> 
			</li>
			<% if user_signed_in? %>
			<li> <%= link_to "Log out", destroy_user_session_path, :method => :delete  %> </li>

		<%# TODO: ADD ADMIN-SPECIFIC BUTTON TO ALLOW WEBMASTER MANAGERIAL CONTROL %>

			<% end %>
		</ul>
	</div>

<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '#menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false,
        hideOnClick       : false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>

	<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  	</div>

</div>