<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>YFA</title>
  <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  
  <link rel="stylesheet" href="/pure-min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', :cocoon, 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
<body>

	<%= render 'layouts/header' %>
	
	 <div class="container">
	
		<%= render 'layouts/messages' %>

		<%= yield %>
	<%= render 'layouts/footer' %>
	</div>



</body>
</html>
